.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white ;
    align-items: center;
    font-size: 18px;
    height: 76px;

    

   
}
.system{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    /* font-size: 18px; */

    
}
.title{
    /* font-size: 18px; */
    font-weight: 700;

    /* padding-left: 25px; */
    align-items: center;
    text-decoration: none;
    color: black;
}
.right{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.icon{
    display: flex;
    /* background-color: white; */
}
.icon2{
    display: flex;
    
    align-items: center;
}

.selected{
    color: orange;
    border-bottom: 2px solid orange ;
    text-decoration: none;
}
.option{
    border: 2px solid transparent;
}
.link{
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    display: none;


}



/* img{
    height:80px;
    width : 71px;
} */



@media only screen and (max-width: 689px) {

    .options{
        display: none;
    }
    .selected{
            display: none;
    }

.link{
    display: none;
}
.menu{
    display: block;
}
.navbar{
    font-size: 15px;
}
.icon{
height: 20px;
}
.icon2{
height: 13px;
width: 23px;

}
.bagg{
    height:69px;
    width : 60px;
}

}



@media only screen and (max-width: 500px) {
    .adminslide{

        display: block;
    }
    .icon3{

        display: block;
    }

    .navbar{
        font-size: 15px;
  }
  .options{
    display: none;
  }
  .selected{
    display: none;
  }
  .menu{
    display: block;
}
.name{
    display: none;
}
.icon{
    display: none;
}
.icon2{
    display: none;
}


}