

.room3,.tablevalue{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr ;
    place-items: center;
    /* border: 1px solid lightgray; */
    padding: 11px;
}
.valuetableroom{
    display: grid;
    grid-template-columns: 5fr 1fr;
    border: 1px solid lightgray;
}
.roomtext{
    display: flex;
    justify-content: center;
}
.threebtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.mainroomtable{
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    border: 1px solid lightgray;

}


.list{
    /* height: 314px; */
    overflow: scroll;
}
.roombtn{
    border: none;
    background-color: orange;
}
.orange{
    /* color: orange; */
    font-weight: 600;
}
.red{
    /* color: red; */
    font-weight: 600;
}
.roomtabletitle{
background-color: white;
margin-top: 20px;
}
.threebtn{
    cursor: pointer;
}
.Popuproom{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left:0%;
    display: grid;
    place-items: center;

    
    
}
.roomtext{
    color: blue;
    font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @media only screen and (max-width: 689px) {

    .room3,.valuetableroom{
    display: grid;
    grid-template-columns: none;


}
.tablevalue{
    display: grid;
    grid-template-columns: none;
}
.valuetableroom{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.roomtablepop{
    width: 83%;
    position: absolute;
    left: 8%;
    top: 6%;

overflow: scroll;
}
.roombox{
    margin: 0;
    border-radius: 0;
}
body{
    background-color: rgb(239, 239, 239);
}
.Popuproom{
    background-color: rgb(239, 239, 239);
}
}
  
  @media only screen and (max-width: 796px) {

    .roomtext{
        font-size: 13px;
    }
      }
  
  @media only screen and (max-width: 720px) {

.datasbookings{
    font-size: 15px;
}
  }












