

.room3,.valuetableroom{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    place-items: center;
    border: 1px solid lightgray;
    height: 50px;
}
.list{
    height: 314px;
    overflow: scroll;
}
.roombtn{
    border: none;
    background-color: orange;
}
.orange{
    color: orange;
}
.red{
    color: red;
}
.roomtabletitle{
background-color: white;
margin-top: 20px;
}
.Popuproom{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 2px;
    left:0%;
}
.roomtext{
    color: blue;
    font-weight: 600;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }