.Bookigstable,.datasbookings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    border: 1px solid lightgray;
    padding: 10px;
}
.bookingtext{
    color: blue;
    font-weight: 600;
}
.bookslist{
    height: 306px;
    overflow: scroll;
}
.booktabletitle{
    background-color: white;
    margin-top: 72px;
}
.fstname{
    font-weight: 700;
}
.green{
    color: green;
}
@media only screen and (max-width: 689px) {

    .Bookigstable{
    display: none;
}
.datasbookings{
    display: grid;
    grid-template-columns: none;
}


}