.bookingtitle{
    font-size: 30px;
    font-weight: 700;
}
.bookingbox{
    background-color: rgb(239, 239, 239);
    margin: 42px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px 0px black;
    
}
.bookingtitlediv{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.newbknbtn{
 color: orange;   
}