.boxdesign{
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    width: 44%;
    border: 0.5px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.boxtext{
    margin-top: 6px;
}

@media only screen and (max-width: 689px) {

.boxdesign{
    width: 88%;

}


}


